<h2>Review Data Binding</h2>
<hr>
<br>

<!-- String interpolation --> 
<h3>Welcome to {{ title }}.</h3>
<h4>Hi! My name is {{ name }}</h4>

<!-- Numeric Operations and Binding -->

<p>Given the numbers 9 and 30 respectively, compute for the sum, difference, quotient and product</p> 
<p>The sum of {{num1}} and {{num2}} is {{ num1 + num2}}</p> 
<p>The difference of {{num1}} and {{num2}} is {{ num1 - num2}}</p> 
<p>The quotient of {{num1}} and {{num2}} is {{ num1 / num2}}</p> 
<p>The product of {{num1}} and {{num2}} is {{ num1 * num2}}</p> 

<!-- Property Binding --> 

<br>
<h4>Property Binding</h4>
<input type="text" [value]='isRaining'>
<button [disabled]="isDisabled">Button</button>


<br>
<!--  Style Binding --> 
<p [style.color]="myColor">This text is styled using style binding.</p> 

<!-- make sure to add CSS styling to apply style, since the binding will read the boolean value --> 
<p [class]="appliedCSSClass">This text is styled using style binding.</p> 
<p [class.blue]="nonappliedCSSClass">No style binding applied in this line.</p> 

<!-- Two-Way data binding demo below --> 
<!-- Event Binding includes mouse click, double click, hover and other keyboard and mouse actions -->

<hr>
<h2>Two-way data binding demo</h2> 
<button (click)="showData($event)">Click Me!</button> 
<button on-click="showData($event)">Click Me Too!</button> 
<hr> 

<h2>Two-way data binding demo (Using Functions)</h2> 
<button (click)="getMessage('Hello World!')">Click to reveal the secret message!</button> 


<h2>Two-way data binding demo (More Events)</h2> 

<br>
<!-- Using the console to display warning events --> 

<button (click)="getMessage2('Button Click Event')">Click to Display Secret Message 2</button> 
<br>
<hr>
<p>Using keyup, keydown, blur, mouse actions</p> 
<input type="text" #keyupbox placeholder="keyup box" (keyup)="getData(keyupbox.value)"/> 
<br> 
<input type="text" #keyinputbox placeholder="input box" (input)="getData(keyinputbox.value)"/> 
<br> 
<input type="text" #keydownbox placeholder="keydown box" (keydown)="getData(keydownbox.value)"/> 
<br> 
<input type="text" #keyblurbox placeholder="blur box" (blur)="getData(keyblurbox.value)"/> 
<br>
<h1 (mouseover)="getData('mouse over')">Hover your mouse on this text.</h1> 

<button (mouseleave)="getData('mouse leave')">Hover your mouse on this text.</button> 

<hr>

<h2>Student Gradebook</h2> 

<input type="text" [(ngModel)]="studName" />
<hr> 
<p><input type="number" [(ngModel)]="prelim" class="form-control" placeholder ="Prelim" /></p> 
<p><input type="number" [(ngModel)]="midterm" class="form-control" placeholder ="Midterm" /></p> 
<p><input type="number" [(ngModel)]="final" class="form-control" placeholder ="Final" /></p> 

<p>Hello, {{studName}}! </p> 
<p>Prelim grade: {{prelim}}</p> 
<p>Midterm grade: {{midterm}}</p> 
<p>Final grade:{{final}}</p> 
